# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual studio files
*.vcxproj
*.vcxproj.filters

# VS Code files
*.vscode

# Cmake cache files
CMakeFiles/
*.cmake

# build dirs
build/
build_*/

# Emacs files
GPATH
GRTAGS
GTAGS
*~
*#
*.#*